<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= first_name %> <%= last_name %> - Curriculum Vitae</title>
    <style>
      /* Add your custom styles here */
    </style>
  </head>
  <body>
    <header>
      <h1><%= first_name %> <%= last_name %></h1>
      <ul>
        <% if (contacts) { %>
        <li><%= contacts.birth_date %></li>
        <% } %> <% if (contacts.birth_date) { %>
        <li><%= contacts.place %></li>

        <% } %> <% if (contacts.email) { %>
        <li><%= contacts.email %></li>

        <li><%= contacts.phone %></li>
        <% } %>
      </ul>
    </header>

    <section>
      <h2>Experience</h2>
      <ul>
        <% for(let i = 0; i < experience.length; i++) { %>
        <li>
          <h3><%= experience[i].title %></h3>
          <p><%= experience[i].company %></p>
          <p><%= experience[i].startDate %> - <%= experience[i].endDate %></p>
        </li>
        <% } %>
      </ul>
    </section>
  </body>
</html>
